@font-face 
    font-family: "Open Sans";
    font-weight: 300;  
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
@font-face 
    font-family: "Open Sans";
    font-weight: normal;   
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");


@font-face 
    font-family: "Open Sans";
    font-weight: bold;  
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");

