@import "~bootstrap/dist/css/bootstrap.css";
@import "~normalize.css"
@import "./fonts"
$border = 1.5px solid darkred
body 
    font-family "Open Sans", sans-serif
    font-weight bold
// test comment
.container 
    padding-top 2rem
    max-width 1000px
    margin 0 auto

h1 
    text-align center
    color red

.code-2 
    color crimson

.logo     
    background-size cover
    height 200px
    width 200px
    margin 0 auto

.box
    padding 1rem
    border-radius 5px
    margin-top 1rem
    border $border
    user-select none
    +below(991px)
        border-color lightblue
    h2
        text-align center
        color lightpink
        font-weight 300
        +below(991px)
            color darkgreen
    
.my-dropdown
    position relative
    float right
    top 7px
    right 40px

