$border = 1.5px solid darkred
.box
    padding 1rem
    border-radius 5px
    margin-top 1rem
    border $border
    user-select none
    +below(991px)
        border-color lightblue
    h2
        text-align center
        color blue
        +below(991px)
            color darkgreen
