@import "~normalize.css";
@import "./fonts.css";

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: red;
}

.logo {
    background-image: url("../assets/logo.png");
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.code-2 {
    color: crimson;
}