<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='shortcut icon' href='./images/favicon.ico' type='image/x-icon')
        title My title
    body
        .container
            h1 Webpack Build
            hr
            .logo
            //- - let spartacus = require("./images/spartacus.jpg")
            //- img(src=spartacus.default)
            img(src=require('~/images/spartacus.jpg'))
            .box
                h2 Stylus